{% extends 'mailing/base.html' %}

{% block page_name %}
    <div class="rounded-pill mx-2 bg-light text-dark-emphasis p-2 py-0">
        <p>email-рассылки</p>

    </div>

{% endblock %}

{% block content %}
<main class="px-3">
    <h1>Общая статистика</h1>
    <p class="lead">На сервисе уже {{ mailings_count }} рассылок</p>
    <p class="lead">Из них {{ active_mailings_count }} активных</p>
    <p class="lead">{{ unique_clients_count }} уникальных клиентов</p>
    <p class="lead">
      <a href="{% url 'mailing:mailing-create' %}" class="btn btn-lg btn-light fw-bold border-white bg-white">Создать рассылку</a>
    </p>

    <div class="row">
        {% for post in random_blog_posts %}
        <div class="col-md-4">
            <div class="card">
                <img src="{{ post.preview.url }}" class="card-img-top" alt="{{ post.title }}">
                <div class="card-body">
                    <h5 class="card-title">{{ post.title }}</h5>
                    <p class="card-text">
                        <i class="bi bi-eye-fill"></i> {{ post.views_count }}
                    </p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
  </main>
{% endblock %}
